body {
    
}

.botones {
    background-color: rgb(26, 26, 26);
    border: solid;
    border-color: lightcyan;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

    .botones:hover {
        background-color: rgb(42, 42, 42);
    }

.moveslow {
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.cajas{

    border : solid;
    border-radius : 5px;
    border-width : 1px;
    background-color : rgb(232, 232, 232);


}

.addbox{

    background-color : rgb(44, 40, 40);

}

.deleteb {
    background-color: rgb(255, 0, 0);
}

.editb {
    background-color: rgb(56, 124, 83)
}

.roundleft {
    /*border-top-left-radius : 10px;*/
    border-bottom-left-radius: 10px;
}

.rounderight {
    border-top-right-radius: 8px;
    /*border-bottom-right-radius : 10px;*/
}

.deletebtn {
    background-color: rgb(52, 19, 19);
    border: solid;
    border-color: lightcyan;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

    .deletebtn:hover {
        background-color: red;
    }